<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Створіть курс </title>
</head>

<body>
    <style>
        .courses {
            display: flex;
            flex-direction: column;

        }

        body {
            margin: 0;
            padding: 0;

        }

        .courses li {
            padding-top: 25px;
        }

        .courses ul {
            list-style: none;
            padding-top: 25px;
            width: 100%;
            height: 100%;


        }
    </style>
    {% for courses in courses %}
    <div class="courses">
        <ul>
            <li>Назва курсу: {{courses['name']}}</li>
            <li>Опис курсу: {{courses['descr']}}</li>
            <li>Початок курсу: {{courses['start_date']}}</li>
            <li>Ментор: {{courses['author_id']}}</li>
            <li>Студенти: {{courses['studends_id']}}</li>
            <form action="">
                <button>Приєднатися до курсу</button>
            </form>
        </ul>
    </div>

    {% endfor %}
    <script>
    </script>
</body>

</html>