<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Створіть курс </title>
</head>
<body>
    <style>
        form{
            display: flex;
            justify-content: center;
        }
    </style>
    <form method="post" action="main/course" >
            <div class="outline">
            <p>Нік: 	&#160; <input name="nick" id="nick" ></p>
            <p>Пароль: <input name="password" id="password" type="password"></p><p>
            <p>Назва курсу	&#160; <input id= "name"name="name" value=""></p>
            <p>Про курс <input name="about_course" id="about_course" type="text" style="width:250px;height:150px"></p><p>
            <p>Коли відбудеться курс <input name="course_date" id="course_date" type="date"></p><p>
            <button name = "btn_create_course" id="btn_create_course" value="Create" style="width:150px;height:60px"><b>Створити курс</b></button>
           </div>
    </form>
    <script>


        $("#btn_create_course").click(function(){
            if($("#name").val()=="" ||$("#password").val()==""||$("#name").val()==""||$("#about_course").val()==""||$("#course_date").val()==""){
            alert("Заповніть всі поля!");
            $("form").attr("action","");
            }
        });

    </script>
</body>
</html>
